body {
    
    margin: 50px ;
}
.vanessa{ font-family:GT Haptik;
    font-size:50px;
    margin-bottom: 2pt;
    letter-spacing: 0.1em;
    text-align: left;
}
h2{ 
    font-family: Inconsolata;
    text-transform: uppercase; 
    font-weight: 200;
    margin-top: 2pt;
    text-align: left; }



.menu {
    text-transform: uppercase;
    font-family:'Inconsolata', monospace;
    position: absolute ;
    bottom:500px ;
    right: 30px ;
/*    margin-top:100px;*/
/*    margin-left:500px;*/
    
}

.img{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-columns: 200px;
    height: ;
    margin:;
}

header {
/*    border: 1px solid red ;*/
    position: relative ; 
}

a:link{color: darkgrey;
       text-decoration: none;}
a:visited {color: darkgrey;}
a:hover {color: black;}