h1 { font-family: 'Montserrat', sans-serif;
    font-size:50px;
    margin-bottom: 1pt;
    margin-top: 1pt;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
}

p.menu {
    font-family: 'playball', cursive;
    bottom:840px ;
    right: 30px ;
    font-size:22pt;
    color: white;
}

body {
    text-align: center;
    background-color: #590505;
    }


.title2 {
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #98121F;
    background-color: white;
    margin-bottom: auto;
    margin-top:auto;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 0pt;
    margin-right: 0pt;
    
}

.hotelname {
    font-family: 'Cardo', serif;
    font-size:20px;
    color: black;
    font-weight:100;
    background-color: white;
    margin-bottom: auto;
    margin-top:auto;
    padding-bottom: 15px;
    margin-left: 0pt;
    margin-right: 0pt;
}

.Accommodations{
    font-family: 'Cardo', serif;
    text-align: center;
    font-size: 14pt;
    line-height: 20pt;
    background-color: white;
    color: black;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 20pt;
    margin-left: 0pt;
    margin-right: 0pt;
    
}
    
    
a:link{color: white;
    text-decoration: none;}
a:visited {color: white;}
a:hover {color: #98121F;}