.vanessa{ font-family:GT Haptik;
    color:lightpink;
    font-size:50px;
    margin-bottom: 2pt;}
h2{ 
    font-family: GT Sectra;
    text-transform: uppercase; 
    font-weight: 200;
    margin-top: 2pt;
    
}
    
li{
    display: inline;
}
.about{
    ;
}