h1 { font-family: 'Montserrat', sans-serif;
    font-size:70px;
    margin-bottom: 2pt;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    
}


p.menu {
    font-family: 'playball', cursive;
    bottom:840px ;
    right: 30px ;
    font-size: 28px;
    color: white;
}

body {
text-align: center;
background-color: #590505;
    
}

p.story {
    font-family:'Cardo', 'serif';
    font-size: 18px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
}



















a:link{color: black;
       text-decoration: none;}
a:visited {color: black;}
a:hover {color: black;}